<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}김김정정조{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="{{url_for('static', filename='data/favicon.ico')}}">
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    {% block additional_head %}{% endblock %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script type="text/javascript">
                alert("{{messages[0]}}");
            </script>
        {% endif %}
    {% endwith %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#FFE79B">
        <!-- Brand/logo -->
        <a class="navbar-brand" style="margin-left:50px;margin-right:100px;" href="#">
            <img src="{{url_for('static', filename='data/logo.png')}}" alt="Logo" style="height:45px;">
        </a>

        <!-- Links -->
        <ul class="nav nav-pills mr-auto">
            <li class="nav-item mr-5">
                <a class="nav-link {% if menu.ho %}active{% endif %}"
                   href="{% if menu.ho %}#{% else %}/{% endif %}" style="background-color: #8DC8ED">
                    <i class="fa fa-home"></i> Home
                </a>
            </li>
        </ul>
        <nav class="navbar navbar-center">
            <span class="navbar-text">
                <strong>{% block heading %}장애인 이동권 증진을 위한 배차시간 예측 시스템{% endblock %}</strong>
            </span>
        </nav>
    </nav>

    <div class="container">
        <div class="row mt-3">
            <div class="col-3">
                <ul class="nav flex-column nav-pills">
                    <div class="dropdown-divider"></div>
                    <div class="dropdown-divider"></div>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle {% if menu.m1 %}active{% endif %}"
                           data-toggle="dropdown" href="{% if menu.m1 %}#{% else %}/menu1{% endif %}">시각화</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/Visualize/Taxi_move">택시 이동</a>
                            <a class="dropdown-item" href="/Visualize/Population">장애인 거주현황</a>
                        </div>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle {% if menu.m2 %}active{% endif %}"
                           data-toggle="dropdown" href="{% if menu.m2 %}#{% else %}/menu2{% endif %}">운행차량 증가 모델</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/module/sub1">대응표본 T검정</a>
                            <a class="dropdown-item" href="/module/sub2">box plot</a>
                            <a class="dropdown-item" href="/module/sub2">모델 실행</a>
                        </div>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if menu.m3 %}active{% endif %}"
                           data-toggle="dropdown" href="#">대기시간 예측 모델</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/module/sub1">히스토그램</a>
                            <a class="dropdown-item" href="/module/sub2">산점도</a>
                            <a class="dropdown-item" href="/module/sub3">시간 군집화</a>
                            <a class="dropdown-item" href="/module/sub3">모델 실행</a>
                        </div>
                    </li>
                    <div class="dropdown-divider"></div>
                    <div class="dropdown-divider"></div>


                </ul>
            </div>
            <div class="col-9">
                <h3>{% block subtitle %}{% endblock %}</h3>
                <hr>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center fixed-bottom">
        <span class="navbar-text">
            Copyright &copy; 2022 프로젝트 5조(김김정정조). All rights reserved.
        </span>
    </nav>
    {% block additional_body %}
    {% endblock %}
</body>
</html>
