{% extends "base.html" %}
{% block additional_head %}
    <style>
        /* Make the image fully responsive */
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
    </style>
{% endblock %}
{% block weather %} {{ weather|safe() }} {% endblock %}
{% block subtitle %}
    <strong>김김정정조</strong><small>에 온 것을 환영합니다!</small>
{% endblock %}
{% block content %}
    <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://media4.giphy.com/media/3ohzAu2U1tOafteBa0/giphy.gif?cid=ecf05e47vsw1ivjeghpieh28wgzvezrwyomj6hx6xmgqnkny&rid=giphy.gif&ct=g">
                <div class="carousel-caption"> </div>
            </div>
        </div>
    </div>
{% endblock %}