{% extends "base.html" %}
{% block subtitle %}
    <strong>실시간 콜택시 대기시간 예측모델</strong>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <table class="table table-striped">
                <tr>
                    <td>테스트 데이터셋 인덱스</td>
                    <td style="text-align: center;">{{res.index}}</td>
                    <td>레이블(타겟 값)</td>
                    <td style="text-align: center;"><strong>{{res.label}}
                    </strong></td>
                </tr>
            </table>
            <table class="table table-striped">
                <tr>
                    <td style="text-align: center;"><strong>모델</td>
                    <td style="text-align: center;"><strong>LR </strong></td>
                    <td style="text-align: center;"><strong>SVR </strong></td>
                    <td style="text-align: center;"><strong>DTR </strong></td>
                    <td style="text-align: center;"><strong>RFR </strong></td>
                    <td style="text-align: center;"><strong>XGR </strong></td>
                </tr>
                <tr>
                    <td><strong>결정계수</strong></td>
                    <td style="text-align: center;">{{res.lr_score}} </td>
                    <td style="text-align: center;">{{res.sv_score}} </td>
                    <td style="text-align: center;">{{res.dt_score}} </td>
                    <td style="text-align: center;">{{res.rf_score}} </td>
                    <td style="text-align: center;">{{res.xgr_score}} </td>
                </tr>
                <tr>
                    <td><strong>예측값</strong></td>
                    <td style="text-align: center;">{{res.pred_lr}}</td>
                    <td style="text-align: center;">{{res.pred_sv}}</td>
                    <td style="text-align: center;">{{res.pred_dt}}</td>
                    <td style="text-align: center;">{{res.pred_rf}}</td>
                    <td style="text-align: center;">{{res.pred_xgr}}</td>
                </tr>

                <tr>
                    <td colspan="2" style="text-align: center;">
                        <button class="btn btn-primary"
                                onclick="location.href='/model1/m2_time'">재실행</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-3"></div>
    </div>
{% endblock %}